<meta http-equiv="refresh" content="20"/>
<div class="container-home">
    <div class="tweet-box">
        <div class="create-tweet">
            <h1>Click the Button Below to Tweet to Package.Sam!</h1>
        </div>

        <div class="send-tweet">
            <a class="twitter-mention-button" data-size="large" href="https://twitter.com/intent/tweet?screen_name=PackageSam">Tweet to @PackageSam</a>
        </div>

    </div>

    <div class="sam-tweet">
        <a class="twitter-timeline" href="https://twitter.com/PackageSam" data-widget-id="707538790815014912">Tweets by @PackageSam</a>
    </div>
</div>
    <footer>
        <p> &copy Kasaromi</p>
    </footer>
