body {
	//background-color: #FFFFFF;
	margin: 0;
    background-image: url("/image/forest2.jpg");
    background-position: 0px 0px;
}


* {
	  font: bold 14px/18px Helvetica, Arial, sans-serif;
}

/* STYLE FOR /HOME.HTML */
.tweet-box {
	width: 50%;
	max-width: 650px;
	min-width: 200px;
	margin: 0 auto;
	padding: 4.9em;
}

.sam-tweet {
	width: 50%;
    max-width: 650px;
    min-width: 200px;
    margin: 0 auto;
    padding: 4.9em;
}

/* FOOTER */
footer, .container-login:after, .container-home:after {

}
footer {
   background: #1b95e0;
   padding   : 2em;
   margin-top: 2.5em;

  p {
       display: inline-block;
     }
   }

.loginh1 {
	margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
	font-size: 3em;
	color: white;
    transform: translate(-50%, -50%)
}

.homeh1 {
	margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
	font-size: 2em;
    transform: translate(-50%, -50%)
}

#login-button {
    position: absolute;
    top: 57%;
    left: 50%;
	background-color: #1b95e0;
	font-weight: normal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	transition-duration: 0.4s;
	border: none;
	color: white;
    transform: translate(-50%, -50%)
}

#login-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.send-tweet {
	position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* END STYLE /HOME.HTML */

/* START RESP GRID SYSTEM */
/*  SECTIONS  */
.container-login {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.container-home {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.46%; }
.span_1_of_3 { width: 32.93%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
/* END RESP GRID SYSTEM */
